a {
	color: #000066; 
}

a:hover {
	color:red; 
	text-decoration:  none;
}

div.outer {
	text-align: center; 
	font-family: monospace; 
	color: #888;
}

div.inner {
	text-align: justify; 
	background-color: #f5f5f5; 
	width: 75%; 
	border: 1px solid #e3e3e3;
	border-radius: 10px;  
	display: inline-block; 
	padding: 10px;"	
}
